:root {
    --primary-bg-color : white;
    --secondary-bg-color: #C0C0C0;
    --small-mobile-spacing: 15px;
    --regular-hero-font: hero-regular;
}
@font-face {
    font-family: 'hero-regular';
    src: url('./Hero-Regular.ttf') format('truetype');
    font-weight: normal;
    font-stretch: 1% 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {
body {
    /* height: 8000px; */
    padding-bottom: 400px;
    font-family: hero-regular;
    max-width: 767px;
    background-color: var(--secondary-bg-color);
border: 3px solid black;    

    
}
header {
    background-color: white;
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    

}
#nav-logo-container {
    justify-self: center;
    text-align: center;
}
.menu-icon {
border: none;


}
.menu-icon img {
    width: 50px;
    height: auto;
}
.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    padding: 15px 0;
    display: none;
}
.nav-items-open {
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    padding: 15px 0;
    
}
.nav-items li {
    list-style-type: none;
}
.nav-items a {
    text-decoration: none;
}
#nav-anchor-button {
display: none;

}
.section-parents {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
padding: 20px 0;    
}

.mobile-image-wrappers {
max-width: 100%;

}
.mobile-image-wrappers img{
max-width: 100%;

}
.column-text-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    padding: 15px 5vw;
    /* border: 3px solid black; */
    word-wrap: break-word;
}
.titles {
    text-transform: uppercase;
    text-align: center;
}
button {
    cursor: pointer;
}
#span-2 {
background-color: var(--primary-bg-color);
padding: 0 40px;
border-radius: 3px 12px 3px 12px;

}
#span-3  {
    background-color: var(--primary-bg-color);
    padding: 0 60px;
    border-radius: 3px 12px 3px 12px;
    
}
#section-1-text-container {
/* border: 3px solid black; */
padding-left: 50px;
padding-right: 50px;
}
#section-2-title {
    
    padding: 0 50px 25px;
}
#section-2-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
row-gap: 25px;

}
.section-2-p-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}
.section-2-p-wrapper p:nth-child(1) {
background-color: black;
color: var(--primary-bg-color);

}
#section-3-title {
    margin-bottom: 25px;
}


#section-3-card-containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
    /* border: 3px solid black; */
    row-gap: 10px;
}
.section-3-card-items {
    width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
row-gap: 10px;
padding: 10px 5px;
border: 1px solid black;
}
.section-3-card-items img {
width: 50px;
}
.section-3-card-titles {
    text-transform: uppercase;
    margin-bottom: 15px;
}
#section-6-parent-container button {
    background-color: black;
    color: var(--primary-bg-color);
    border: 3px solid black;
    width: 80%;
    height: 50px;
}


.socials-container {
    display: none;
    
}
.social-wrappers {
display: flex;
justify-content: center;
align-items: center;
column-gap: 25px;

}
.social-wrappers img {
width: 50px;
}
.social-wrappers a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.social-items-open {
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        padding: 30px 0;
        
    }
#section-7-text-container li {
    list-style-type: none;
    font-size: 24px;
    padding: 1px 20px;
    margin-bottom: 20px;
background-color: black;
color: var(--primary-bg-color);
border-radius: 3px 12px 3px 12px;

}
#section-9-parent-container {
    outline: 2px solid black;
}
.mobile-forms {
    width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: 4px solid black; */
row-gap: 20px;

}
.mobile-forms label {
    align-self: flex-start;
    font-size: 24px;
    text-transform: uppercase;
}
    .mobile-forms input {
        width: 100%;
        height: 50px;
        background-color: lightgray;
        font-size: 24px;
        border: 3px solid black;
    }
    
    
    .mobile-forms button {
        width: 100%;
        height: 50px;
        background-color: black;
        color: var(--primary-bg-color);
        text-transform: uppercase;
        border: none;
        font-size: 18px;
    }

    .mobile-forms textarea {
        width: 100%;
        
        background-color: lightgray;
        font-size: 24px;
        border: 3px solid black;

    }
}